:root {
    --black: #212121;
    --gray: #757575;
    --white: #FFFFFF;
    --blue: #2196F3;
    --dark: #2F303A;
    --light: #F5F4FA;
    --white-60: rgba(255, 255, 255, 0.60);
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: var(--black);
}

.logo-accent {
    color: var(--blue);
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--blue);
}

.contacts {
    display: flex;
    gap: 30px;
}

.contacts-link {
    font-size: 14px;
    text-decoration: none;
}

.contacts-link[href^="mailto"] {
    color: var(--blue);
}

.contacts-link[href^="tel"] {
    color: var(--gray);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: var(--dark);
    text-align: center;
}

.hero-title {
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-btn {
    border-radius: 4px;
    background: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.features-list {
    display: flex;
    gap: 30px;
    padding: 40px;
}

.features-item {
    flex: 1;
}

.features-title {
    font-size: 14px;
    font-weight: 700;
}

.features-text {
    color: var(--gray);
    font-size: 14px;
}

.about-title {
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
}

.about-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.about-img {
    width: 300px;
}

.team {
    background: var(--light);
    padding: 40px 0;
}

.team-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-item {
    text-align: center;
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-name {
    font-size: 16px;
    font-weight: 500;
}

.team-role {
    color: var(--gray);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: var(--dark);
}

.address-item {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
}

.address-link {
    color: var(--white-60);
    text-decoration: none;
}