:root {
  --primary-color: #ffffff;
  --secondary-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --logo-color: #000000;
  --BG1-color: #2f303a;
  --BG2-color: #f5f4fa;
  --border-color: #ececec;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  background: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin-right: 93px;

  animation-name: header-logo;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes header-logo {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.1);
  }
}

.logo-accent {
  color: var(--logo-color);
}

.header-nav {
  display: none;
}

.header-list {
  align-items: center;
  display: flex;
  gap: 50px;
}

.header-item {
  position: relative;
}

.header-item:hover:after {
  opacity: 1;
}

.header-item:hover {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  text-decoration: none;
  font-family: Roboto;
}

.header-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -35.5px;
  border-radius: 2px;
  opacity: 0;
}

.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  text-decoration: none;
  color: var(--title-color);
  font-family: Roboto;
}

.header-link:hover {
  color: var(--secondary-color);
}

.header-contacts {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  text-decoration: none;
  color: #212121;
  font-family: Roboto;
  text-decoration: none;
  display: none;
  gap: 24px;
  margin-left: auto;
  font-style: normal;
}

.header-contacts-list {
  align-items: center;
  display: flex;
}

.header-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  font-family: Roboto;
  color: var(--text-color);
  text-decoration: none;
}

.header-item:hover {
  color: var(--secondary-color);
}

/* hero */

.hero {
  background-color: var(--BG1-color);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

.hero-title {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  animation-name: hero-title;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}

@keyframes hero-title {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  background: var(--secondary-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;

  animation-name: hero-button;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}

@keyframes hero-button {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* info */

.info {
  padding-top: 94px;
  padding-bottom: 94px;
}

.info-all {
  display: flex;
  gap: 30px;
}

.info-title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.info-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* about */

.about {
  padding-bottom: 94px;
  display: none;
}

.about-title {
  color: var(--title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.about-all {
  display: flex;
  gap: 30px;
  list-style: none;
  max-width: 1170px;
}

.about-img {
  display: block;
  width: 100%;
  height: auto;
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: var(--BG2-color);
}

.team-all {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.team-list {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-color);
  text-align: center;
  padding-bottom: 30px;
}

.team-img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.team-content {
  padding: 0 10px;
}

.team-title {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-subtitle {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-text {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.48px;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--BG1-color);
}

.footer-all {
  display: column;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.78px;
  text-decoration: none;
  font-family: Raleway;
}

.footerlogo-accent {
  color: var(--BG2-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-map {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
  font-style: normal;
}

.footer-map:hover {
  color: var(--secondary-color);
}

.footer-mail {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71px;
  letter-spacing: 0.42px;
  color: var(--text-color);
  text-decoration: none;
}

.footer-mail:hover {
  color: var(--secondary-color);
}

.footer-phone {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71px;
  letter-spacing: 0.42px;
  color: var(--text-color);
  text-decoration: none;
}

.footer-phone:hover {
  color: var(--secondary-color);
}

.scroll {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transform: rotate(-90deg);
}

.scroll-icon {
  width: 20px;
  height: 20px;
}

/* Media */

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  .hero-title {
    width: 360px;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
  }
  .hero-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero {
    padding-top: 218px;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    position: fixed;
    width: 100%;
    background: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
  }
  .header-logo {
    margin-right: 88px;
  }
  .header-nav {
    display: block;
  }
  .header-contacts {
    display: flex;
  }
  .header-contacts-list {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    position: fixed;
    width: 100%;
    background: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
  }
  .header-logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: auto;
  }
  .header-contacts-list {
    flex-direction: row;
    gap: 30px;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
  .hero-button {
    min-width: 216px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .info {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .info-all {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
  }

  .info-list {
    flex-basis: calc((100% - 30px) / 2);
  }

  .info-title {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
  }

  .info-text {
    max-width: 354px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}

@media (max-width: 767px) {
  .info {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .info-all {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .info-list {
    width: 100%;
  }

  .info-title {
    font-size: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
  }

  .info-text {
    font-size: 14px;
    text-align: left;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}

@media (min-width: 1200px) {
  .about {
    display: block;
  }
  .info {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .info-all {
    display: flex;
    gap: 30px;
  }

  .info-list {
    flex-basis: calc((100% - 90px) / 4);
  }

  .info-title {
    text-align: left;
  }

  .info-text {
    text-align: left;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .team-title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }

  .team-all {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .team-list {
    width: calc((100% - 30px) / 2);
    max-width: 354px;
    padding-bottom: 24px;
  }

  .team-img {
    margin-bottom: 30px;
  }

  .team-subtitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 8px;
  }

  .team-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }
}

@media (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .team-title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }

  .team-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .team-list {
    width: 100%;
    max-width: 450px;
  }

  .team-img {
    margin-bottom: 30px;
  }

  .team-subtitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }

  .team-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team-title {
    font-size: 36px;
    margin-bottom: 50px;
  }

  .team-all {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .team-list {
    width: calc((100% - 90px) / 4);
    max-width: 270px;
    padding-bottom: 30px;
  }

  .team-img {
    margin-bottom: 30px;
  }

  .team-subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .team-text {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: column;
    align-items: start;
    text-align: left;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .footer-social {
    align-items: flex-start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

@media (max-width: 767px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-list {
    align-items: center;
  }

  .footer-social {
    align-items: center;
  }
}

